
<br><br>
<div class="error"><? $error ?></div>
<div align="center" class="h1">CLIENT ADMINISTRATION</div>
<br>
<div align="center">
<a href="<? $rooturi ?>/admin/0">Add A Client</a> |
<a href="<? $rooturi ?>">Exit Administration</a>
</div>
<table border="0" cellspacing=0 cellpadding=0 width="500" align="center" class='thinbox'>
<tr class='cc_head'>
<td>&#160;</td><td>name</td><td>login</td><td>roles</td>
</tr>
<? for my $u (@users) {
$OUT .= sprintf('<tr><td></td><td><a href="%s">%s</a></td><td>%s</td><td>%s</td></tr>',
        "$rooturi/admin/$u->{'id'}",
        $u->{'name'},
        $u->{'user'},
        join(', ', grep { $u->{$_} == 1; } qw/admin staff client/),   
    );
}
?>
<tr class="cc_head"><td colspan=4>
&#160;Total Clients: <? $rows ?>
</td></tr>
</table>
<div align="center">
<a href="<? $rooturi ?>/admin/0">Add A Client</a> |
<a href="<? $rooturi ?>">Exit Administration</a>
</div> <br><br>
