
<script language="JavaScript">
<!-- 
function CheckLogin() {
	var text=document.Update.login.value;
	if ((text == "") ||
	(text.indexOf("'") > -1) ||
	(text.indexOf("\\") > -1) ||
	(text.indexOf("/") > -1) ||
	(text.indexOf(":") > -1) ||
	(text.indexOf("*") > -1) ||
	(text.indexOf("?") > -1) ||
	(text.indexOf('"') > -1) ||
	(text.indexOf("<") > -1) ||
	(text.indexOf(">") > -1) ||
	(text.indexOf("|") > -1)) { alert("'" + text + "' is not a valid login name.\n"
		+"A login name cannot contain any of the following characters:\n ' \\ / : * ? \" < > |");
		document.Update.login.select();
		return false;
	}
	return true;
}
//-->
</script>
<br><br>
<form autocomplete="off" name="Update" action="<? $rooturi ?>/update" method="post" onsubmit="return CheckLogin()">

<input name="id" value="<? $u{'id'} ?>" type="hidden">
<input name="xuser" value="<? $u{'user'} ?>" type="hidden">
<table align="center"><tr>
<td colspan="2" class="title">
<? if ($u{'id'} > 0) {
    $OUT = "Update $u{'name'}";
   } else {
    $OUT = 'Add a new user';
   }
?>
<hr></td></tr>
<tr>
<td align="right">Name</td>
<td><input name="name" value="<? $u{'name'} ?>" size="30" maxlength="50" type="text"></td>
</tr>
<tr><td align="right">Privileges</td><td>
<? my $checked;
for my $p (qw/admin staff client/) {
	if ($u{$p} == 1) {
        $checked = 'checked="checked"';
    } else {
        $checked = '';
    }
$OUT .=<<END;
	<input name="$p" value="1" $checked type="checkbox">$p
END
}
?>
</td></tr>
<tr><td align="right">Login</td>
<td>
	<input name="user" value="<? $u{'user'} ?>" size="30" maxlength="50" type="text">
</td></tr>
<tr><td align="right">Password</td><td>
    <input name="pass" value="<? $u{'pass'} ?>" size="20" maxlength="20" type="password"></td></tr>

<tr><td align="right">Notify</td>
<td><input name="notify" value="<? $u{'notify'} ?>" size="30" maxlength="50" type="text"></td></tr>

<tr><td></td><td>
<input name="action" value="Submit" type="submit">
<? if ($u{'id'} > 0) {
    $OUT .=<<END;
<input name="action" value="Delete" onclick="del = confirm('Are you sure you wish to delete $u{'name'}? \nThis action cannot be undone.'); return del" type="submit">
END
} ?>
</td></tr>
</table>
</form>
