<div class="error"><? $error ?></div>
<table border="0" width="700" align="center">
<tr><td valign="top" align="right" colspan=4 class="title"><? $name ?></td></tr>
<tr><td colspan=4>

<? $zip ?><B>Current:</B> /<? $current ?>

<br></td></tr>
<tr>
    <td width=45> &nbsp;</td>
    <td width='300' class='sm'><b>Filename</b></td>
    <td width='250' class='sm'><B>Modified</B></td>
    <td width='100' class='sm'><b>Size</b></td>
</tr>

<? for my $file (sort keys %files) {
$OUT .= <<END;
<tr>
    <td align='right' width=40>
        <nobr>$files{$file}{'rm'}
        <a href="$files{$file}{'lnk'}"><img src="$iconuri$files{$file}{'img'}" border=0></a></nobr>
    </td>
    <td class='sm'><a href="$files{$file}{'lnk'}" class='invert'>$file</a></td>
    <td class='sm'>$files{$file}{'mtime'}</td>
    <td class='sm'>$files{$file}{'size'}</td>
</tr>
END
} ?>

<tr>
    <td colspan="4">
    <br><div id="progress"></div>
    </td>
</tr>
<tr>
    <td colspan="4" align="right">
<?  if (exists $perms{'upload'}) {
$OUT = <<END;
<form action="$rooturi/upload" method="POST" enctype="multipart/form-data"
    onsubmit="return startEmbeddedProgressBar(this)">

<input type="hidden" name="xdir" value="$xdir">
<input type="file" name="upload">
<input type="submit" value="Upload">
</form>
END
} ?>
<?  if (exists $perms{'mk_dir'}) {
$OUT = <<END;
<form action="$rooturi/mk_dir" method="post">
<input type="hidden" NAME="xdir" VALUE="$xdir">
<input type="text" name="folder">
<input type="submit" NAME="action" VALUE="Add Folder">
</form>
END
} ?>
    </td>
</tr></table>
<div align="center">
<?  if (exists $perms{'admin'}) {
$OUT = <<END;
<a href='$rooturi/admin/'>Administration</A> |
END
} ?>
<a href="<? $rooturi ?>/logout">Log Out</a>
</div>


