<br>
<table class="thinbox" cellpadding="0" cellspacing="0" align="center"><tr><td>
<a href="http://perl.apache.org/"><img border=0 width="200" height"25" alt="mod_perl + apache" src="/img/ashley.gif"></a>
<a href="http://yaml.org"><img border=0 width="90" height"25" alt="YAML" src="/img/yaml25.png"></a></td></tr></table>
<br>
</td></tr>
</td></tr></table>
<table cellpadding="1" cellspacing="0" border="0" align="center" width="100%">
<tr>
<td class="" align="center">
</td>
<td class="foot" align="right" valign="top">
Garrison Hoffman (718) 210-3445 / 1-866-456-0584
<a href="/inc/garrison.key"><img src="/img/key.gif" width=20 border=0 alt="[ Public Key ]"></a>
Codefix Consulting Inc. &#169; 2006 &#160;&#160;
</td></tr></table>
</body>
</html>
