<link media="screen" href="/inc/style.css" type="text/css" rel="stylesheet">
<!-- link rel="stylesheet" type="text/css" href="/UploadProgress/progress.css" title="Default" rel="StyleSheet"/ -->
<link rel="stylesheet" type="text/css" href="/inc/progress_bar.css" title="Default" rel="StyleSheet"/>
<script src="/UploadProgress/progress.js" type="text/javascript"></script>
<script src="/UploadProgress/progress.jmpl.js" type="text/javascript"></script>

</head>
<body bgcolor="#ffffff" link="#A00000" vlink="#A00000" alink="#A00000">
<table cellpadding="1" cellspacing="0" border="0" align="center" width="100%">
<tr><td class="flag_table">
<a href="/"><img src="/img/codefix.jpg" width="360" height="40" border="0" alt="codefix.net" class="flag_logo"></a>
</td></tr>
<tr><td bgcolor="#A00000" class="flag_tag" align="right">
<font color="#ffffff">Client Center Demo</font>
</td></tr>
<tr><td class="flag_table">
