<p><br>
<table width="500" border="0" align="center">
<tr><td></td>
<td valign="top">
Welcome to the Client Center, a web file manager.
<br><br>
If Guest access is currently enabled, the user name is "guest" and the password is "codefix".  If you want to see all features, <a href="/contact">just ask</a>
for your own demo account.
<br><br>
<table border="0" align="center">
    <tr><td align="right" valign="middle">
    <form action="<? $rooturi ?>/login" method="post">
    User Name:
    <input type="text" name="login" value="" size="20" maxlength="40"><br>
    Password:
    <input type="password" name="passwd" size="20" maxlength="20"></td></tr>
    <tr><td align="right"><input type="submit" value="Log In"></form></td></tr>
</table>
</td></tr>
</table>
<br><br>
